@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%vh;
    width: 100%vw;
    background-color: black;
}

body {
    background: url('../imagens/pexels-photo-1072179.jpeg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 721px;
    width: 346px;
    background: url('../imagens/moto_e_6_plus-removebg-preview.png');
    background-attachment: fixed;
}

iframe#tela {
    position: relative;
    top: 21px;
    left: 18px;
    width: 308px;
    height: 670px;
    border-radius: 4%;
    }

section#redes-sociais img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 400);
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform .3s, border 1s;
}